#Data and Social Media Analysis
## Unofficial midterm aka. take home exam for the pandas part of this course

Feel free to use any means available to you such as class notebooks, lecture vidoes, Google, StackOverFlow, online tutorials etc. The only thing I ask is that you do this yourself. This means not asking your programmer friend for help or posting a question from the exam on stackoverflow or similar.
Good luck!!!

1. Read in the ramen ratings file as a dataframe
2. set appropriate index and column names and print out an overview of the dataframe
3. Print a subset of the dataframe that only has the information of the brand of ramen and its score (hint: not groupby, or creation of new dataframe. How can we access specific rows or columns of data?)
5. Oh no, it seems the last column is full of null values. Convert these to NaN.
4. Display only the rows where the brand is Nissin and the rating is above 3.5 (some data type conversion might be necessary)

6. Group the ramen by brand and calculate the mean, max, and min values in a single output.

7. What is the mode rating for all ramen?
8. Groupby brand and variety. Can you figure out a way to display this information in descending order (highest to lowest)? Which has the highest average?
8. How many different brands of ramen are included in the dataset?

In [2]:
import pandas as pd
import numpy as np

In [3]:
#1
df = pd.read_csv("ramen-ratings.csv")
print(df)
#2
i_df = df.set_index('Review #')
new_df = i_df.rename(columns = {"Variety": "Product Name" })
new_df.head(5)

      Review #           Brand  ... Stars Top Ten
0         2580       New Touch  ...  3.75     NaN
1         2579        Just Way  ...     1     NaN
2         2578          Nissin  ...  2.25     NaN
3         2577         Wei Lih  ...  2.75     NaN
4         2576  Ching's Secret  ...  3.75     NaN
...        ...             ...  ...   ...     ...
2575         5           Vifon  ...   3.5     NaN
2576         4         Wai Wai  ...     1     NaN
2577         3         Wai Wai  ...     2     NaN
2578         2         Wai Wai  ...     2     NaN
2579         1        Westbrae  ...   0.5     NaN

[2580 rows x 7 columns]

                   Brand  ... Top Ten
Review #                  ...
2580           New Touch  ...     NaN
2579            Just Way  ...     NaN
2578              Nissin  ...     NaN
2577             Wei Lih  ...     NaN
2576      Ching's Secret  ...     NaN

[5 rows x 6 columns]

In [4]:
#3
new_df.loc[:, ["Brand","Stars"]]

                   Brand Stars
Review #
2580           New Touch  3.75
2579            Just Way     1
2578              Nissin  2.25
2577             Wei Lih  2.75
2576      Ching's Secret  3.75
...                  ...   ...
5                  Vifon   3.5
4                Wai Wai     1
3                Wai Wai     2
2                Wai Wai     2
1               Westbrae   0.5

[2580 rows x 2 columns]

In [5]:
#4
new_df["Top Ten"] = "NaN"
#print(new_df)

In [6]:
#5
new_df.loc[(new_df.Brand == "Nissin") & (new_df.Stars > '3.5')]

           Brand  ... Top Ten
Review #          ...
2567      Nissin  ...     NaN
2566      Nissin  ...     NaN
2560      Nissin  ...     NaN
2553      Nissin  ...     NaN
2549      Nissin  ...     NaN
...          ...  ...     ...
70        Nissin  ...     NaN
28        Nissin  ...     NaN
27        Nissin  ...     NaN
26        Nissin  ...     NaN
23        Nissin  ...     NaN

[255 rows x 6 columns]

In [7]:
#6
new_df.Stars
new_df["Stars"].replace("Unrated", 0, inplace = True)
new_df = new_df["Stars"].astype(float)
new_df.groupby("Brand").Stars.agg([min, max,np.mean])

In [64]:
#7
new_df.Stars.mode()

In [9]:
#8
n = new_df.groupby(["Brand","Product Name"]).agg(new_df.Stars.mode).sort_values(ascending=False)

KeyError: ignored

In [10]:
#9
new_df.Brand.unique()

AttributeError: ignored